body {
  margin: 0px;
  font-family: 'Work Sans', sans-serif;
}

header {
  background: linear-gradient(to right, #6b64fe, #7df0fe);
  padding: 25px 10%;
}

p {
  margin: 0;
}

.header-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.nav-item {
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.5s linear;
  margin-left: 30px;
}

.nav-item:hover {
  color: #aaa;
}

.card {
  border-radius: 10px;
  background-color: white;
  height: 60vh;
  padding: 20px;
  box-shadow: 0 2px 4px 0 rgba(14,30,37,.50);
  margin-bottom: -150px;
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile {
  display: flex;
  height: 100%;
  margin: 0px;
}

.profile img {
  width: auto;
  height: 100%;
  border-radius: 10px;
}

.hello {
  font-size: 14px;
  color: rgb(175, 175, 175);
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 15px;
}

.content {
  padding-left: 50px;
}

.name {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 35px;
  text-transform: uppercase;
}

.job {
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
}

.description {
  color: rgb(150, 150, 150);
  line-height: 1.4;
  margin-bottom: 35px;
  font-size: 14px;
}

.birthday,
.phone-number,
.email,
.address {
  margin-bottom: 15px;
  color: rgb(150, 150, 150);
}

.birthday i,
.phone-number i,
.email i,
.address i{
  margin-right: 10px;
}

.content i {
  color: #9B95CE;
}

.social-media {
  display: flex;
}

.social-media i {
  font-size: 25px;
}

.social-media a:hover i {
  color: rgb(150, 150, 150);
}

.social-media-button-container {
  margin-right: 10px;
  position: relative;
}

.tooltip {
  position: absolute;
  background-color: rgb(150, 150, 150);
  color: white;
  padding: 3px;
  border-radius: 2px;
  left: 50%;
  transform: translateX(calc(100% / -2));
  top: 30px;
  opacity: 0;
  transition: opacity 0.5s linear;
}

.tooltip:after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgb(150, 150, 150) transparent;
}

.social-media-button-container:hover .tooltip {
  opacity: 1;
}

.hidden {
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.5s linear;
}

.mobile-nav-anchor {
  display: none;
}

.mobile-nav {
  display: none;
  position: fixed;
  right: 0px;
  width: 30vw;
  height: 100vh;
  top: 0px;
  background-color: gray;
  z-index: 1;
}

.about {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.contact-title {
  font-size: 35px;
  font-weight: 600;
  margin: 20px 0px 35px 0px;
}

.contact-label {
  font-size: 18px;
  margin-bottom: 5px;
  color: gray;
  text-transform: uppercase;
}

.contact-input-field {
  width: 50%;
  padding: 10px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.contact-message {
  font-size: 15px;
  font-family: 'Work Sans', sans-serif;
  resize: none;
}

/* max-width */
/* min-width */
/* max-height */
/* min-height */

@media (max-width: 768px) {
  .card {
    flex-direction: column;
  }

  .profile {
    width: 100%;
    height: auto;
  }

  .profile img {
    width: 100%;
    height: auto;
  }

  .content {
    padding-left: 0px;
    padding-top: 25px;
    text-align: center;
  }

  .social-media {
    justify-content: center;
  }

  .mobile-nav-anchor {
    display: flex;
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
    width: fit-content;
  }

  .desktop-nav {
    display: none;
  }

  .mobile-nav {
    display: flex;
    flex-direction: column;
    padding: 20px;
    transition: all 0.5s ease;
    transform: translateX(250px);
  }

  .mobile-nav.show {
    transform: translateX(0px);
  }

  .nav-item {
    margin-left: 0px;
    margin-bottom: 20px;
    font-size: 18px;
  }

  .card {
    height: 100%;
  }
}
